.address { 
    font-family: "Arial Black", sans-serif; font-size: 10pt;  
} 

.content { 
    font-family: "Arial Black", sans-serif; font-size: 10pt;  
}

.message {
    top::0px;
    left: 0px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.return_address_top {
 margin-bottom:15px;   
    
}

div.address {
    position: relative;
    border 0px;
    padding 0px;
    margin 0px;
    top: 1.25in;
    left: 0.0in;
    width: 4.5in;
    height: 1.125in;
}

div.return_address {
    position: relative;
    border 0px;
    padding 0px;
    margin 0px;
    top: 0.50in;
    left: 0.800in;
    width: 3.5in;
    height: 1.125in;
}

/* Content will appear in the bottom 2/3 of a letter size page when printed. */
div.content {
    position: relative;
    top: 1.750in;
    left: 0.0in;
}

